/* ============================================================================
  Block: promo
============================================================================= */
.promo{
  position: relative;
  margin: -135px 0 20px 0;
}
.promo__item{
  float: left;
  margin: 0 0 0 20px;
  width: 300px;
  background: #f0f0f0;
  &:first-child{
    margin: 0;
  }
}
.promo__item__header{
  position: relative;
  img{

  }
  h1{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 0 0 30px;
    width: 271px;
    height: 98px;
    background: url("../img/bg_header-promo.png") no-repeat;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
  }
}
.promo__item__main{
  padding: 10px 16px 10px 30px;
}
/* @end */