/* ============================================================================
		html form
============================================================================= */
input{
    border-radius: 0;
    -webkit-appearance: none;
}
.form{
  fieldset{
    margin: 0;
    padding: 0;
    border: none;
  }
}

/* Form search */
.form_poisk{
  @include box-shadow(0 0 3px rgba(0,0,0,.2));
  position: relative;
  float: right;
  padding: 4px 5px 4px 12px;
  width: 240px;
  height: 30px;
  input{
   display: block;
    float: left;
      width: 190px;
      border: none;
      font-size: 12px;
      &:focus{
        outline: 0;
      }
  }
  button{
    @extend %iconsSprite;
    padding: 0;
    position: relative;
    display: block;
    font-size: 0;
    line-height: 0;
    float: left;
    top: 2px;
    width: 18px;
    height: 17px;
    border: none;
    background-color: transparent;
    background-position: sprite-position($icons, 'icons_01');
    text-indent: -9999px;
    &:focus{
      outline: 0;
    }
  }
}
/* @end */
