/* ============================================================================
    Layout: header
============================================================================= */
.page__header{
	position: relative;
	height: 100px;
	background: rgba(254, 254, 254, 0.1);
}
.logo{
	display: block;
	position: absolute;
	width: 39px;
	height: 35px;
	left: 40px;
	top: 35px;
	background: url("../img/logo.png") no-repeat;
	    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.lang{
	display: block;
	position: absolute;
	right: 40px;
	top: 35px;
	color: #000;
	font-family: 'museo_500';
	text-decoration: none;
}
.step-nav{
	display: block;
	margin: 0 auto;
	width: 720px;
	padding: 30px 0 0 0;
}
.step-nav__inner{
	margin: 0;
	padding: 0;
	list-style: none;
}
.step-nav__item{
	height: 40px;
	display: inline-block;
	a{
		color: #fff;
		text-decoration: none;
		font-family: 'museo_500';
		font-size: 24px;
		display: block;
		position: relative;
		height: 40px;
		padding-top: 22px;
		padding-left: 35px;
		&:after{
			display: block;
			position: absolute;
			content: "";
			@extend %iconsSprite;
		}
	}
}
.step-nav__item_1{
	a{
		&:hover{
			&:after{

			}
		}
		&:after{
			width: 35px;
			height: 39px;
			left: 0;
			height: 0;
			background-position: sprite-position($icons, 'icon_01');
		}
	}
}