-locale = request.original_url.split("?locale=")[1]
-#.form
-#  = form_tag(countries_find_country_path(params.merge(locale: locale)), method: "post") do
-#    .first.current
-#      = label_tag(:gender, t('gender.male'))
-#      = radio_button_tag("gender", 1)
-#      = label_tag(:gender, t('gender.female'))
-#      = radio_button_tag("gender", 2)
-#    #id_height
-#      = label_tag(:height, t('features.height'))
-#      = text_field_tag :height
-#      = range_field_tag :height_slider, nil, min: 130, max: 220
-#    #id_weight
-#      = label_tag(:weight, t('features.weight'))
-#      = text_field_tag :weight
-#      = range_field_tag :weight_slider, nil, min: 40, max: 150
-#    #id_body_type
-#      .body_types_images
-#        #slim
-#          =t('features.slim')
-#        #normal
-#          =t('features.normal')
-#        #fat
-#          =t('features.fat')
-#      = label_tag(:body_type, t('features.body_type'))
-#      = select_tag(:body_type, options_for_select([[t('features.slim'), 1], [t('features.normal'), 2],
-#      [t('features.fat'), 3]]))
-#    #id_color_hair
-#      = label_tag(:hair_color, t('hair_colors.hair_color'))
-#      = select_tag(:hair_color, options_for_select([[t('hair_colors.black'), 1], [t('hair_colors.black_w'), 2],
-#      [t('hair_colors.brown'), 3], [t('hair_colors.brown_w'), 4], [t('hair_colors.red'), 5], [t('hair_colors.blond'), 6]]))
-#    #id_submit.last
-#      = submit_tag(t("buttons.submit"))
-#
-#  .buttons
-#    %button#prev{:disabled => "disabled"}
-#      = t('buttons.prev')
-#    %button#next
-#      = t('buttons.next')
-#######################################################################################################################

%p.num_question - 1/6 -

=form_tag(countries_find_country_path(params.merge(locale: locale)), method: "post") do
  .height.current
    %h1.title_question
      =t("questions.height")
    #what-growth{name: "height"}
    %input#what-growth-input{name: "height", :type => "hidden", :value => ""}
  .weight
    %h1.title_question
      =t("questions.weight")
    #what-weight{name: "weight"}
    %input#what-weight-input{name: "weight", :type => "hidden", :value => ""}
  .hair_color
    %h1.title_question
      =t("questions.hair")
    %ul.selection-list
      %li.selection-list__item
        %input#hair-color1{:name => "hair_color", :type => "radio", :value => "1", checked: "checked"}
          %label{:for => "hair-color1"}
            %img{:src => "/asset/img/people/people_01.jpg"}
              %span
                =t("colors.blond")
      %li.selection-list__item
        %input#hair-color2{:name => "hair_color", :type => "radio", :value => "2"}
          %label{:for => "hair-color2"}
            %img{:src => "/asset/img/people/people_01.jpg"}
              %span
                =t("colors.red")
      %li.selection-list__item
        %input#hair-color3{:name => "hair_color", :type => "radio", :value => "3"}
          %label{:for => "hair-color3"}
            %img{:src => "/asset/img/people/people_01.jpg"}
              %span
                =t("colors.brown")
      %li.selection-list__item
        %input#hair-color4{:name => "hair_color", :type => "radio", :value => "4"}
          %label{:for => "hair-color4"}
            %img{:src => "/asset/img/people/people_01.jpg"}
              %span
                =t("colors.black")
      %li.selection-list__item.selection-list__item_sizer
        \&nbsp;
  .gender
    %h1.title_question
      =t("questions.gender")
    %ul.selection-list
      %li.selection-list__item
        %input#gender1{:name => "gender", :type => "radio", :value => "1", checked: "checked"}
          %label{:for => "gender1"}
            %img{:src => "img/people/people_02.jpg"}
              %span
                =t("gender.female")
      %li.selection-list__item
        %input#gender2{:name => "gender", :type => "radio", :value => "2"}
          %label{:for => "gender2"}
            %img{:src => "img/people/people_03.jpg"}
              %span
                =t("gender.male")
      %li.selection-list__item.selection-list__item_sizer
        \&nbsp;

  #submit.submit
    =submit_tag t("buttons.submit")


.clearfix
  %a.btn.btn_color.block_left
    =t("buttons.prev")
  %a.btn.btn_color.block_right
    =t("buttons.next")




-#<!DOCTYPE html>
-#<html class="no-js" lang="ru" dir="ltr" itemscope>
-#    <?php require_once('blocks/services/head.html'); ?>
-#    <body>
-#		<div class="page page_second clearfix">
-#			<div class="page__inner">
-#				<?php require_once('blocks/navigation.html'); ?>
-#				<div class="page__main">
-#					<p class="num_question">- 1/6 -</p>
-#					<h1 class="title_question">Выберите свой рост</h1>
-#					<div id="what-growth"></div>
-#					<div class="clearfix">
-#						<a href="#" class="btn btn_color block_left">Назад</a>
-#						<a href="#" class="btn btn_color block_right">Далее</a>
-#					</div>
-#				</div>
-#			</div>
-#		</div>
-#    </body>
-#</html>