.languages
  = link_to 'English', root_path(locale: "en")
  = link_to 'Русский', root_path(locale: 'ru')

.social-likes{title: "#{t('share')}"}
  .facebook Facebook
  .vkontakte    Вконтакте
  .odnoklassniki    Одноклассники

- flash.each do |name, msg|
  = content_tag :div, msg, class: name