-#.languages
-#  = link_to 'English', root_path(locale: "en")
-#  = link_to 'Русский', root_path(locale: 'ru')
-#
.social-likes{title: "#{t('share')}"}
  .facebook Facebook
  .vkontakte    Вконтакте
  .odnoklassniki    Одноклассники
-#
-#- flash.each do |name, msg|
-#  = content_tag :div, msg, class: name

.page__header
  =link_to "CHI software", root_path, class: "logo"
  -#%a.logo{:href => "#"} CHI softwear
  = render 'layouts/items' if request.original_url.match /test_form/
  -if request.original_url.split("?locale=")[1] == "ru"
    =link_to "EN", root_path(locale: "en"), class: "lang"
  -else
    =link_to "RU", root_path(locale: "ru"), class: "lang"