%nav.step-nav
  %ul.step-nav__inner
    %li.step-nav__item.step-nav__item_5
      %a#height{:href => "#"} 150
    %li.step-nav__item.step-nav__item_1
      %a#weight{:href => "#"} 70
    %li.step-nav__item.step-nav__item_2
      %a#foot_size{:href => "#"} 38
    %li.step-nav__item.step-nav__item_4
      %a#body_type{:href => "#"}
        =I18n.t("features.normal")
    %li.step-nav__item.step-nav__item_3
      %a#gender{:href => "#"}
        =I18n.t("gender.female")
