%nav.step-nav
  %ul.step-nav__inner
    %li.step-nav__item.step-nav__item_1
      %a#weight{:href => "#"} 0
    %li.step-nav__item.step-nav__item_2
      %a#foot_size{:href => "#"} 0
    %li.step-nav__item.step-nav__item_3
      %a#gender{:href => "#"} 0
    %li.step-nav__item.step-nav__item_4
      %a#boby_type{:href => "#"} 0
    %li.step-nav__item.step-nav__item_5
      %a#height{:href => "#"} 0