%nav.step-nav
  %ul.step-nav__inner
    %li.step-nav__item.step-nav__item_1
      %a{:href => "#"} 0
    %li.step-nav__item.step-nav__item_2
      %a{:href => "#"} 0
    %li.step-nav__item.step-nav__item_3
      %a{:href => "#"} 0
    %li.step-nav__item.step-nav__item_4
      %a{:href => "#"} 0
    %li.step-nav__item.step-nav__item_5
      %a{:href => "#"} 0